.footer-wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: .5px solid #607B96;
    background-color: #011627;
    z-index: 9;
    @media only screen and (max-width: 1080px) {
    //    display: none;
    }
    .footer{
        margin: 0 1rem;
        display: flex;
        justify-content: space-between;
        &__left{
            ul{
                display: flex;

                li{
                    display: inline-flex;
                    padding: 1rem;
                    // border-right: .5px solid #607B96;
                    a{
                        display: flex;
                        cursor: pointer;
                        img{
                            display: block;
                            margin: 0 auto;
                            margin-left: 1rem;
                            width: 1rem;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                    
                }
            }
        }

        &__right{
            border-left: .5px solid #607B96;
            @media only screen and (max-width: 1080px) {
               display: none;
            }
            ul{
                display: flex;

                li{
                    margin: 1rem;
                }
            }
        }
    }
}